{
    // ESLint Configuration Files enables to include comments.
    // http://eslint.org/docs/configuring/#comments-in-configuration-files

    "ecmaFeatures": {
        "jsx": true,
        "modules": true
    },

    "env": {
        "browser": true,
        "node": true,
        "es6": true
    }
}
