@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
@font-face {
    font-family: FontAwesome;
    src: url('../../fonts/fontawesome.svg') format('svg'), url('../../fonts/fontawesome.woff') format('woff');
}
html,
body {
    height: 100%;
}
body {
    margin: 0;
    background: #455164;
    color: #222;
    font: 16px Lato, sans-serif;
}
a {
    transition: opacity .2s;
}
a:hover {
    text-decoration: none;
    opacity: .8;
}
h1,
h2 {
    margin: 0;
    font: inherit;
    line-height: inherit;
}
input {
    outline: 0;
}
button {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: none;
}
.tooltip-inner {
    border-radius: 2px;
    background: #fff;
    color: #262c36;
}
.tooltip.top .tooltip-arrow {
    border-top-color: #fff;
}
.btn {
    display: inline-block;
    margin-bottom: 10px;
    padding: 9px 17px;
    transition: background .2s, border-color .2s, color .2s;
    border: 2px solid #84ce88;
    border-radius: 3px;
    color: #84ce88;
    font: bold 12px Lato, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    word-spacing: 3px;
}
.btn:disabled,
.btn:hover {
    background: #84ce88;
    color: #fff;
}
.btn:active {
    box-shadow: none;
    opacity: .8;
}
.btn:disabled {
    opacity: .6;
}
.container {
    max-width: 480px;
    margin: 80px auto;
    padding: 0 30px;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
::-moz-placeholder {
    color: rgba(0, 0, 0, .35);
    opacity: 1;
}
::-webkit-input-placeholder {
    color: rgba(0, 0, 0, .35);
}
:-ms-input-placeholder {
    color: rgba(0, 0, 0, .35) !important;
}
#wrap {
    height: 100%;
    overflow: hidden;
}
#viewport {
    perspective: 1000;
    height: 100%;
    transition: all .4s;
    will-change: transform;
}
#viewport .lt,
#viewport .rt {
    display: none;
    width: 36px;
    height: 36px;
    margin: 6px 12px 0 -12px;
    float: left;
    color: #ccc;
    line-height: 40px;
}
#viewport .lt:before,
#viewport .rt:before {
    font: 14px FontAwesome;
    content: '\f0c9';
}
#viewport .rt {
    display: block;
    margin: 6px -12px 0 12px;
    float: right;
}
#viewport.rt #chat .sidebar {
    transform: translate3d(180px, 0, 0);
}
#sidebar {
    position: absolute;
    top: 0;
    bottom: 52px;
    left: 0;
    width: 220px;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
#sidebar button,
#sidebar .chan,
#sidebar .sign-out {
    border: 1px solid transparent;
    border-radius: 2px;
    color: #99a2b4;
    font-size: 14px;
    cursor: pointer;
}
#sidebar button:hover,
#sidebar .chan:hover,
#sidebar .active {
    color: #fff;
}
#sidebar .networks {
    min-height: 100%;
    padding: 20px 30px 0;
}
#sidebar .networks:empty {
    padding: 0;
}
#sidebar .network,
#sidebar .network-placeholder {
    margin-bottom: 30px;
}
#sidebar .empty {
    margin-top: 20px;
    padding: 20px 40px;
    color: #9ca5b4;
    font-size: 12px;
    line-height: 1.6;
    text-align: center;
}
#sidebar .chan,
#sidebar .chan-placeholder {
    display: block;
    position: relative;
    width: 180px;
    margin: 1px -10px;
    padding: 6px 10px 8px;
    transition: color .2s;
    text-align: left;
}
#sidebar .chan-placeholder {
    padding-bottom: 10px;
}
#sidebar .chan:first-child {
    color: #84ce88;
    font-size: 15px;
    font-weight: bold;
}
#sidebar .chan:first-child:hover,
#sidebar .chan:first-child.active {
    color: #c0f8c3;
}
#sidebar .chan:before,
#chat .title:before {
    width: 14px;
    margin-top: 3px;
    margin-right: 12px;
    float: left;
    font: 14px FontAwesome;
    text-align: center;
}
#chat .title:before {
    margin-top: 17px;
}
#sidebar .chan.lobby:before,
#chat .lobby .title:before {
    content: '\f0a0';
}
#sidebar .chan.query:before,
#chat .query .title:before {
    content: '\f0e6';
}
#sidebar .chan.channel:before,
#chat .channel .title:before {
    content: '\f0f6';
}
#sidebar .chan:hover .badge {
    opacity: 0;
}
#sidebar .chan:hover .close {
    opacity: .2;
}
#sidebar .badge {
    position: absolute;
    right: 5px;
    margin-top: 1px;
    padding: 3px 6px;
    transition: all .2s;
    border-radius: 3px;
    background: rgba(255, 255, 255, .06);
    color: #afb6c0;
    font-size: 10px;
}
#sidebar .badge.highlight {
    background: #fff;
    color: #49505a;
}
#sidebar .badge:empty {
    display: none;
}
#sidebar .close {
    will-change: opacity;
    position: absolute;
    right: 0;
    width: 18px;
    height: 18px;
    margin-top: 1px;
    margin-right: 5px;
    transition: all .2s;
    border-radius: 3px;
    background: no-repeat url('../../img/close-button.svg');
    background-position: 5px 6px;
    background-size: 50%;
    opacity: 0;
}
#sidebar .close:hover {
    background-color: rgba(0, 0, 0, .1);
    opacity: .7 !important;
}
#sidebar .close.js-closing {
    opacity: .4;
}
#sidebar .tse-scrollbar {
    top: 2px;
    right: 3px;
}
#footer {
    position: absolute;
    bottom: 4px;
    left: 5px;
    width: 210px;
    height: 48px;
    border-radius: 2px;
    background: rgba(0, 0, 0, .06);
    line-height: 48px;
    text-align: center;
}
#footer button {
    border: 0;
}
#footer button.active {
    color: #fff;
}
#footer .icon {
    display: inline-block;
    padding: 0px 12px;
    color: #9ca5b4;
    font: 14px FontAwesome;
    line-height: 34px;
}
.signed-out #footer .sign-in {
    display: inline-block;
}
.signed-out #footer .connect,
.signed-out #footer .sign-out {
    display: none;
}
.public #footer .sign-in,
.public #footer .sign-out {
    display: none;
}
#footer .sign-in {
    display: none;
}
#footer .sign-in:before {
    content: '\f023';
}
#footer .connect:before {
    content: '\f067';
}
#footer .settings:before {
    content: '\f013';
}
#footer .sign-out:before {
    content: '\f13e';
}
#main {
    position: absolute;
    top: 4px;
    right: 5px;
    bottom: 4px;
    left: 220px;
    border-radius: 2px;
    background: #fff;
    overflow: hidden;
}
#header {
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 40px;
}
#windows {
    position: absolute;
    top: 0px;
    bottom: 48px;
    width: 100%;
}
#windows label {
    font-size: 14px;
}
#windows .input {
    -webkit-appearance: none;
    width: 100%;
    margin: 2px 0;
    margin-bottom: 10px;
    padding: 8px 10px;
    transition: border-color .2s;
    border: 1px solid #cdd3da;
    border-radius: 2px;
    outline: 0;
    color: #222;
    font-size: 14px;
}
#windows .input:hover,
#windows .input:focus {
    border-color: #79838c;
}
#windows .window:before,
#windows .chan:before {
    display: block;
    position: relative;
    height: 10px;
    border-bottom: 1px solid #d7d7d7;
    background: #f4f4f4;
    background-image: linear-gradient(#f4f4f4, #ececec);
    content: ' ';
    z-index: 10;
}
#windows .chan,
#windows .window {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #fff;
}
#windows .window {
    bottom: -44px !important;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
#windows .window h1 {
    font: 36px Lato;
}
#windows .window h2 {
    margin: 30px 0 10px;
    padding-bottom: 7px;
    border-bottom: 1px solid #eee;
    color: #7f8c8d;
    font-size: 22px;
}
#windows .active {
    display: block;
}
#windows .header {
    height: 48px;
    padding: 0 20px;
    border-bottom: 1px solid #e7e7e7;
    line-height: 50px !important;
}
#windows .header .title {
    font: 14px Lato;
}
#windows .header .topic {
    display: none;
    margin-left: 8px;
    color: #777;
    text-transform: capitalize;
}
#windows .header .right {
    margin-top: -2px;
    margin-right: -10px;
    float: right;
}
#windows .header .button {
    height: 25px;
    padding: 0 10px;
    border: 1px solid #d7d7d7;
    border-radius: 2px;
    border-bottom-color: #b7b7b7;
    background: #f4f4f4;
    background-image: linear-gradient(#f4f4f4, #ececec);
    color: #555;
    font: 12px Lato, sans-serif;
    line-height: 0;
}
#windows .header .button:hover {
    opacity: 1;
}
#windows .window .header {
    display: none;
}
#chat {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
#chat,
#windows .header {
    font: 12px Consolas, Menlo, Monaco, 'Lucida Console', 'DejaVu Sans Mono', 'Courier New', monospace;
    line-height: 1.4;
}
#chat button:hover {
    opacity: .6;
}
#chat .chat,
#chat .sidebar {
    top: 58px;
}
#chat .chat {
    position: absolute;
    right: 180px;
    bottom: 0;
    left: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
#viewport.rt .chat {
    right: 0;
}
#chat .sidebar {
    perspective: 1000;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 180px;

    transition: all .4s;
    border-left: 1px solid #e7e7e7;
    background: #fff;
    will-change: transform;
}
#chat .lobby .chat,
#chat .query .chat {
    right: 0;
}
#chat .lobby .sidebar,
#chat .query .sidebar {
    display: none;
}
#chat .show-more {
    display: none;
    position: absolute;
    width: 100%;
    padding: 10px;
}
#chat .show-more.show + .messages .msg:first-child {
    padding-top: 47px !important;
}
#chat .show-more.show + .messages .msg:first-child > span {
    padding-top: 52px !important;
}
#chat .show-more-button {
    width: 100%;
    height: 34px;
    border: 1px solid #d7d7d7;
    border-radius: 2px;
    border-bottom-color: #b7b7b7;
    background: #f4f4f4;
    background-image: linear-gradient(#f4f4f4, #ececec);
    color: #555;
    font: 12px Lato, sans-serif;
    line-height: 0;
}
#chat .show-more-button:hover {
    opacity: 1;
}
#chat .messages {
    display: table;
    width: 100%;
}
#chat .msg {
    word-wrap: break-word;
    display: table-row;
}
#chat .msg:first-child > span {
    padding-top: 10px;
}
#chat .msg:last-child {
    height: 100%;
}
#chat .msg:last-child .text {
    padding-bottom: 10px;
}
#chat .msg .type {
    display: none;
    color: #ccc;
    font-style: normal;
}
#chat .time,
#chat .from,
#chat .text {
    display: table-cell;
    padding: 2px 0;
    vertical-align: top;
}
#chat .time {
    width: 46px;
    min-width: 46px;
    color: #ddd;
    text-align: right;
}
#chat .from {
    width: 134px;
    min-width: 134px;
    padding-right: 10px;
    border-right: 1px solid #f6f6f6;
    color: #b1c3ce;
    text-align: right;
}
#chat .from .user {
    height: 16px;
}
#chat .from .user-image {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}
#chat a {
    color: #50a656;
}
#chat.no-colors .from button,
#chat.no-colors .sidebar button {
    color: #50a656 !important;
}
#chat .text {
    padding-right: 6px;
    padding-left: 10px;
}
#chat .wrap,
#chat .text a {
    word-break: break-all;
    word-wrap: break-word;
    font-style: normal;
}
#chat .self .text {
    color: #999;
}
#chat .join .type,
#chat .part .type,
#chat .mode .type,
#chat .nick .type,
#chat .kick .type,
#chat .quit .type,
#chat .topic .type {
    display: inline;
}
#chat .error,
#chat .error .from,
#chat .highlight,
#chat .highlight .from {
    color: #f00;
}
#chat.hide-join .join span,
#chat.hide-mode .mode span,
#chat.hide-motd .motd span,
#chat.hide-nick .nick span,
#chat.hide-part .part span,
#chat.hide-quit .quit {
    display: none !important;
}
#chat .notice .type {
    display: none;
}
#chat .action,
#chat .chan .action .user {
    color: #f39c12 !important;
}
#chat .action .user:before {
    content: '* ';
}
#chat .action .user:after {
    content: '';
}
#chat .toggle-button {
    display: inline-block;
    height: 1em;
    padding: 0px 6px;
    border-radius: 2px;
    background: #f5f5f5;
    color: #666;
    line-height: 0px;
}
#chat .toggle-content {
    display: none;
    max-width: 100%;
    margin-top: 2px;
    padding: 6px 8px;
    border-radius: 2px;
    background: #f5f5f5;
    color: #222;
    font: 12px Lato;
}
#chat .toggle-content a {
    color: inherit;
}
#chat .toggle-content img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin: 2px 0;
}
#chat .toggle-content .thumb {
    max-width: 210px;
    max-height: 110px;
}
#chat .toggle-content .head {
    font-weight: bold;
}
#chat .toggle-content .body {
    word-break: normal;
    word-wrap: break-word;
    max-width: 460px;
    color: #999;
}
#chat .toggle-content.show {
    display: inline-block !important;
}
#chat .count {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 48px;
    background: #fafafa;
}
#chat .count:before {
    position: absolute;
    right: 18px;
    transition: color .2s;
    color: #cfcfcf;
    font: 14px FontAwesome;
    line-height: 50px;
    content: '\f002';
    z-index: 0;
}
#chat .search {
    position: relative;
    width: 100%;
    padding: 18px 16px;
    border: 0;
    outline: 0;
    background: none;
    color: #222;
    font: inherit;
}
#chat .names {
    position: absolute;
    top: 48px;
    bottom: 0;
    width: 100%;
    padding-bottom: 10px;
    overflow: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}
#chat .names button {
    display: block;
    padding: 0 16px;
    line-height: 1.6;
}
#chat .names .inner {
    width: 300px;
}
#chat .user-mode:before {
    display: block;
    margin-bottom: 10px;
    padding: 12px 16px 10px;
    border-bottom: 1px solid #eee;
    line-height: 1.6;
    content: '';
}
#chat .user-mode.owner:before {
    content: 'Owners';
}
#chat .user-mode.admin:before {
    content: 'Administrators';
}
#chat .user-mode.op:before {
    content: 'Operators';
}
#chat .user-mode.half-op:before {
    content: 'Half-Operators';
}
#chat .user-mode.voice:before {
    content: 'Voiced';
}
#chat .user-mode.normal:before {
    content: 'Users';
}
#sign-in label {
    display: block;
    margin-top: 10px;
}
#sign-in .title {
    margin-bottom: 10px;
}
#sign-in .remember {
    margin-top: 12px;
    float: left;
    font-size: 14px;
}
#sign-in .remember input {
    margin: 3px 10px 0 0;
    float: left;
}
#sign-in .btn {
    margin-top: 25px;
}
#sign-in .error {
    margin-top: 1em;
    color: #e74c3c;
}
#sign-in .container {
    margin-top: 120px;
}
#connect label {
    display: block;
    margin-top: 11px;
}
#connect .title {
    margin-bottom: 10px;
}
#connect .port:before {
    position: absolute;
    margin: 9px 0 0 -17px;
    content: ':';
}
#connect .tls {
    margin-top: 6px;
    float: left;
    font-size: 14px;
}
#connect .tls input {
    margin: 3px 10px 0 0;
    float: left;
}
#connect .btn {
    margin-top: 30px;
    float: left;
}
#settings .title {
    margin-bottom: -10px;
}
#settings .opt {
    display: block;
    padding: 5px 0 10px 1px;
}
#settings .opt input {
    margin: 4px 10px 0 0;
    float: left;
}
#settings .about,
#settings #play {
    color: #7f8c8d;
}
#settings .about small {
    margin-left: 2px;
}
#settings #play:hover {
    opacity: .8;
}
#settings #play:before {
    margin-right: 9px;
    font: 14px FontAwesome;
    content: '\f028';
}
#settings .about {
    padding-top: 2px;
    font-size: 14px;
    line-height: 1.8;
}
.input-form {
    position: absolute;
    right: 0px;
    bottom: 0;
    left: 0;
    height: 48px;
    border-top: 1px solid #ddd;
    background: #eee;
}
.input-form .input-form__inner {
    display: flex;
    flex-direction: row;
    height: 34px;
    margin: 6px 0 7px;
    font: 12px Consolas, Menlo, Monaco, 'Lucida Console', 'DejaVu Sans Mono', 'Courier New', monospace;
}
.input-form .input-form__input-container {
    display: flex;
    flex-basis: 100%;
    flex-direction: row;
    height: 100%;
}
.input-form .input-form__nick {
    display: flex;
    align-self: center;
    height: 24px;
    margin: 3px;
    padding: 0 9px;
    border: 1px solid #cfdae1;
    border-radius: 1px;
    background: #f6f6f6;
    color: #666;
    font: inherit;
    font-size: 11px;
    user-select: none;
}
.input-form .input-form__nick .input-form__nick-holder {
    align-self: center;
}
.input-form .input-form__input {
    -webkit-appearance: none;
    flex-basis: 100%;
    height: 100%;
    padding: 0 10px;
    border: 1px solid #ddd;
    border-radius: 2px;
    outline: none;
    font: inherit;
}
.input-form .input-form__submit {
    width: 58px;
    height: 34px;
    margin: 0 3px;
    transition: opacity .3s;
    border: 1px solid #d7d7d7;
    border-radius: 2px;
    border-bottom-color: #b7b7b7;
    background: #f4f4f4;
    background-image: linear-gradient(#f4f4f4, #ececec);
    color: #555;
    font: 12px Lato, sans-serif;
}


/**
  * IRC Message Styling
  * https://github.com/megawac/irc-style-parser
  * Colours are credit to http://clrs.cc/
  */
.irc-fg0 { color: #fff; }
.irc-fg1 { color: #000; }
.irc-fg2 { color: #001f3f; }
.irc-fg3 { color: #2ecc40; }
.irc-fg4 { color: #ff4136; }
.irc-fg5 { color: #85144b; }
.irc-fg6 { color: #b10dc9; }
.irc-fg7 { color: #ff851b; }
.irc-fg8 { color: #ffdc00; }
.irc-fg9 { color: #01ff70; }
.irc-fg10 { color: #39cccc; }
.irc-fg11 { color: #7fdbff; }
.irc-fg12 { color: #0074d9; }
.irc-fg13 { color: #f012be; }
.irc-fg14 { color: #aaa; }
.irc-fg15 { color: #ddd; }
.irc-bg0 { background: #fff; }
.irc-bg1 { background: #000; }
.irc-bg2 { background: #001f3f; }
.irc-bg3 { background: #2ecc40; }
.irc-bg4 { background: #ff4136; }
.irc-bg5 { background: #85144b; }
.irc-bg6 { background: #b10dc9; }
.irc-bg7 { background: #ff851b; }
.irc-bg8 { background: #ffdc00; }
.irc-bg9 { background: #01ff70; }
.irc-bg10 { background: #39cccc; }
.irc-bg11 { background: #7fdbff; }
.irc-bg12 { background: #0074d9; }
.irc-bg13 { background: #f012be; }
.irc-bg14 { background: #aaa; }
.irc-bg15 { background: #ddd; }

.irc-bold {
    font-weight: bold;
}

.irc-underline {
    text-decoration: underline;
}

.irc-italic {
    font-style: italic;
}

@media (max-width: 768px) {
    .container {
        margin-top: 60px !important;
    }
    #viewport.lt {
        transform: translate3d(220px, 0, 0);
    }
    #viewport.rt #chat .sidebar {
        transform: translate3d(-180px, 0, 0);
    }
    #sidebar {
        left: -220px;
    }
    #footer {
        left: -215px;
        width: 215px;
    }
    #sidebar .close {
        display: none;
    }
    #sidebar .chan:hover .badge {
        opacity: 1;
    }
    #sidebar .empty:before {
        margin-top: 0;
    }
    #main {
        right: 5px;
        left: 5px;
    }
    #chat .chat {
        right: 0;
    }
    #viewport .lt,
    #viewport .channel .rt {
        display: block;
    }
    #viewport .rt {
        margin-left: 18px;
    }
    #windows .window .header {
        display: block;
    }
    #chat .sidebar {
        right: -180px;
    }
    #chat .title:before {
        display: none;
    }
}

@media (max-width: 479px) {
    .container {
        margin: 40px 0 !important;
    }
    #connect .tls {
        margin: 20px 0;
    }
    #windows .input {
        margin-bottom: 2px;
    }
    #chat .messages {
        display: block;
        padding: 5px 10px;
    }
    #chat .msg {
        display: block;
        padding: 2px 0;
    }
    #chat .msg:last-child {
        height: auto;
    }
    #chat .from,
    #chat .text {
        display: inline;
        padding: 0;
        border: 0;
        background: none;
    }
    #chat .time {
        display: none;
    }
    #chat.hide-join .join,
    #chat.hide-mode .mode,
    #chat.hide-motd .motd,
    #chat.hide-nick .nick,
    #chat.hide-part .part,
    #chat.hide-quit .quit {
        display: none !important;
    }
}

@media print {
    /* for pring media, we should disable some rules */
    /* stylelint-disable selector-no-universal */
    * {
        position: relative !important;
        overflow: visible !important;
    }
    /* stylelint-enable */
    body {
        background: #fff;
    }
    .lt,
    .rt,
    .window:before,
    .chan:before,
    .title:before {
        display: none !important;
    }
    .sidebar,
    .input-form,
    #sidebar {
        display: none;
    }
    #windows .header {
        padding-left: 10px;
        border-bottom: 0;
    }
    #main {
        left: 0;
    }
    #chat {
        font-size: 11px;
    }
    #chat .chat {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    #chat .messages {
        display: block;
        padding: 5px 10px;
    }
    #chat .msg {
        display: block;
        padding: 2px 0;
    }
    #chat .msg:last-child {
        height: auto;
    }
    #chat .from,
    #chat .text,
    #chat .time {
        display: inline;
        padding: 0;
        border: 0;
        background: none;
    }
}
